.register {
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 30px 20px;
}

.register_title {
  font-size: 20px;
  text-align: center;
  color: #333333;
}

.register_form {
  margin-top: 30px;
}

.register_block-field + .register_block-field {
  margin-top: 20px;
}

.register_group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.register_group .register_block-field {
  margin-top: 0;
}

.register_label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.register_field {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666666;
  border: none;
  border-bottom: solid 1px #eeeeee;
  outline-color: rgba(125, 64, 231, 0.2);
}

.register_submit {
  width: 100%;
  border: none;
  margin-top: 30px;
  background-color: #7d40e7;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}

.register_submit:hover {
  background-color: #6931ca;
}